/* MINAMI KATO (TTP: Second Round Responses)
minamikato@gmail.com
310-902-2518
*/
header{
      text-align: center;
      background: url(img/meshlogo.jpg);
      background-position: right bottom;
      background-size: cover;
      color: black;
      height: 315px;
      padding:1px;  
      font-family: Courier;
    }

body{
    margin:0;
    color: black;
    font-family: monospace;
    } 
.biggerfont{
    font-size: 2em;
    font-style:bold, italic;
}
.imgsmall {
      margin: 5px 0px 0px 0px;
      border: 10px solid White;
      border-radius: 100px;
      width: 200px;
      height: auto;
      padding :none ;
}
.imgicon {
      width: 20px;
      height: auto;
      padding :none ;
      border: none;
      border-radius: none;
}
.main-nav, .main {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
}
.main-nav li:first-child {
  margin-right: auto;
  list-style-type: none;
}
.main-nav a {
  margin: 10px;
  border-radius: 5px;
  background: rgba(237,240,255,0.3);
  list-style-type: none;
  color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
}
.main-nav .logo {
  background: #ff0033;
}

/* Main contents */
.main section {
  -webkit-flex: 1;
  flex: 1;
  margin: 10px;
  border-radius: 5px;
  background: #C0C0C0;
  padding: 15px;
}
.main .col-2 {
  -webkit-flex: 2;
  flex: 2;
}
.main h1 {
  color: #ff0033;
  font-size: 1.1rem;
  border: solid 1px #808080;
  padding: 0.3em;
  border-radius: 0.5em;
}
.main h2 {
font-size: 1.05rem;
position: relative;
line-height: 1.4;
padding:0.25em 1em;
display: inline-block;
}
.main h2:before,.main h2:after{ 
  content:'';
width: 20px;
height: 30px;
position: absolute;
display: inline-block;
}
.main h2:before{
  border-left: solid 1px #ff5722;
  border-top: solid 1px #ff5722;
  top:0;
  left: 0;
}
.main h2:after{
  border-right: solid 1px #ff5722;
  border-bottom: solid 1px #ff5722;
  bottom:0;
  right: 0;
}

.main p {
  margin-top: 10px;
}
.defaultlist
,.defaultlist li{
	padding:0px;
	margin:0px;
}
.defaultlist li{
	list-style-type:none !important;
	list-style-image:none !important;
	margin: 5px 0px 5px 0px !important;
}
 
.list1 li{
	position:relative;
	padding-left:20px;
}
.list1 li:before{
	content:''; 
	display:block; 
	position:absolute; 
	box-shadow: 0 0 2px 2px rgba(255,255,255,0.2) inset;
	top:3px; 
	left:2px; 
	height:0; 
	width:0; 
	border-top: 6px solid transparent;
	border-right: 7px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 9px solid #aaa;
}
article{
    font-family: fantasy, cursive;
    padding: 30px;
    font-size: 14px;
   border-radius: 10px;
    background-color: #ffffe7;
    
    position: relative;
    background-image:
    linear-gradient(rgba(241,207,164,0.5) .1em, transparent .1em);
    background-size: 100% 1.5em;
    line-height:1.5em;
}
footer{
      text-align: center;
      background-color: black;
      height: 100px;
      padding:1px;  
      font-family: Courier;
      color: #fff;
}
.main-nav2, .main {
  display: -webkit-flex;
  display: flex;
  list-style-type: none;
}
.main-nav2 li:first-child {
  margin-right: auto;
  list-style-type: none;
}
.main-nav2 a {
  margin: 10px;
  border-radius: 5px;
  background: none;
  list-style-type: none;
  color: #fff;
    display: block;
    padding: 15px;
    text-decoration: none;
}
.main-nav2 .logo {
  background: #ff0033;
}
.main2 h1 {
  color: #ff0033;
  font-size: 1.5rem;
  border: solid 1px #808080;
  padding: 0.3em;
  border-radius: 0.2em;
}
/* Mobile */
@media screen and (max-width: 700px) {
    .main {
        -webkit-flex-direction: column;
    flex-direction: column;
    }
}
